* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: "Raleway", sans-serif !important;
}
p,
span,
li {
  line-height: 1.4;
  font-family: "Raleway", sans-serif !important;
}
h2 {
  font-size: 48px;
}
.text-blue {
  color: #457b9d !important;
  font-weight: 800;
}
.mw-content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4vw;
  padding-right: 4vw;
}

.farm-advertisement {
  height: 100vh;
  margin-top: 200px;
  display: none;
  .farm-advertisement-flex {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    img {
      width: 50%;
      box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
      border-radius: 10px;
    }
    .farm-advertisement-text {
    width: 50%;
    h1 {
      font-size: clamp(36px, 4vw, 60px);
      color: #0f2d39;
    }
    p {
      font-size: clamp(28px, 3.2vw, 36px);
    }
    }
  }
}

.hero {
  width: 100%;
  height: 600px;
  max-height: 600px;
  background: url(img/heroimg-min.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-top: 80px;
  .herocontent {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: 100px;
    padding-top: 110px;
    position: relative;
    z-index: 3;
    .hc-left {
      width: 50%;
      background-color: rgba(255, 255, 255, 0.618);
      padding: 40px 40px 60px 40px;
      border-radius: 24px;
      h1 {
        font-size: clamp(30px, 3vw, 60px);
        margin-bottom: 10px;
      }
      p {
        font-size: 28px;
      }
      .herobtns {
        display: flex;
        column-gap: 20px;
        .herobtn {
          margin-top: 35px;
          a {
            background-color: #264653;
            color: #fff;
            padding: 15px 30px;
            border: 1px solid transparent;
            border-radius: 5px;
            font-size: 18px;
            font-weight: 600;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            &:hover {
              background-color: #0f2d39;
            }
          }
        }
        .herobtn2 {
          a {
            background-color: #b9314f;
            transition: all 0.3s ease-in-out;
            &:hover {
              background-color: #920b28;
            }
          }
        }
      }
    }
  }

  .herogradient {
    position: absolute;
    width: 100%;
    top: 0;
    height: 600px;
    z-index: 2;
  }
}

.lr-content {
  display: none !important;
  display: flex;
  justify-content: center;
  column-gap: 90px;
  padding-top: 90px;
  padding-bottom: 90px;
  .lr-textleft {
    width: 50%;
    p {
      font-size: 30px;
      position: sticky;
      bottom: 100px;
    }
  }
  .lr-gallery {
    width: 50%;
    max-height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    img {
      width: 17vw;
      max-width: 250px !important;
      margin: 5px;
      border-radius: 8px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    }
  }
}

.details {
  background-color: #f5f5f5;
  padding-top: 90px;
  padding-bottom: 90px;
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  h3 {
    width: fit-content;
    margin-left: 0;
    margin-right: auto;
    font-size: 36px;
    color: #fff;
    margin-bottom: 30px;
    background-color: #b9314f;
    padding: 10px;
    border-radius: 5px;
  }

  .details-flex {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
    margin-left: auto !important;
    margin-right: auto !important;
    /*
    div {
      width: 50%;
    }
    */
    .details-text {
      p {
        font-size: 24px;
        text-align: center;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .details-stats {
      /*
      background-color: #264653;
      */
      box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
      border-radius: 12px;
      padding: 60px;
      margin-top: 30px;
      background-color: #fff;
      hr {
        margin: 40px;
      }
      .stats-flex {
        width: 100%;
        ul {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          li {
            flex: 1 25%;
            max-width: 25%;
            margin: 15px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            font-weight: 500;
            list-style-type: decimal;
            position: relative;
            border-left: 2px solid #b9314f;
            padding-left: 14px;

            .prefix {
              color: #264653;
              font-size: 22px;
              font-weight: 800;
              margin-bottom: 5px;
            }
          }
        }
      }
      /*
      ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: column;
          background-color: #fff;
          font-size: 20px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          flex: 1 30%;
          list-style-type: none;
          min-height: 100px;
          margin: 5px;
          padding: 20px;
          
          */
      .svg-container {
        background-color: #264653;
        width: 65px;
        margin-bottom: 10px;
        margin-right: 0 !important;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
      img {
        width: 38px;
        height: 38px;
        margin-bottom: 2px;
      }
    }
  }
}

.mt20 { margin-top: 10px !important;}
.bold { font-weight: 600;}
.pond {
  margin-top: 90px;
  .pondflex {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 90px;
    img {
      width: 50%;
    }
    .pond-text {
      font-size: 29px;
      font-weight: 300;
      width: auto;
      h2 {
        text-align-last: left;
      }
    }
  }
}

.contact {
  width: 100%;
  padding-bottom: 90px;
  background-color: #f5f5f5;
  .contact-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    column-gap: 60px;
    padding-top: 90px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  h2 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  p {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .contact-links {
    padding: 30px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-radius: 12px;
    .iconflex {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      i {
        font-size: 20px;
        margin-bottom: 10px;
        color: #f5f5f5;
        background-color: #b9314f;
        width: 75px;
        min-width: 75px;
        height: 75px;
        min-height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      text-decoration: none;
      color: #264653;
      border-radius: 12px;
      font-size: 20px;
      font-weight: 700;
      transition: all 0.5s ease;
      padding: 20px;
      &:hover {
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
        transform: scale(1.1);
      }
      span {
        border-bottom: 1px dashed #264653;
      }
    }
  }
  div {
    width: 50%;
    display: flex;
    flex-flow: column;
  }
}

nav {
  width: 100%;
  background-color: #fff;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 9999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  .nav-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    a {
      margin-left: 20px;
      margin-right: 20px;
      color: #264653;
      text-decoration: none;
      font-size: 18px;
      font-weight: 700;
      transition: all 0.3s ease;
      &:hover {
        color: #b9314f;
      }
    }
  }
}

footer {
  width: 100%;
  padding: 30px 0;
  .footer-flex {
    display: flex;
    justify-content: center;
    a {
      margin-left: 20px;
      margin-right: 20px;
      text-decoration: none;
      color: #264653;
      font-size: 18px;
      font-weight: 700;
      transition: all 0.3s ease;
      &:hover {
        color: #b9314f;
      }
    }
  }
}

@keyframes showImg {
  from {
    opacity: 0;
    transform: rotateY(45deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

.gallery {
  padding-top: 90px;
  padding-bottom: 90px;
  .gallery-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
    padding: 20px;
    max-width: 94%;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .gallery-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    animation: showImg 1s ease-in-out both;
    img {
      flex: 1 30%;
      max-width: 30%;
      margin: 10px;
      animation: showImg 1s ease-in-out both;
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
      border-radius: 12px;
      object-fit: cover;
    }
  }
}

#house,
#views,
#wildlife {
  scroll-margin-top: 240px;
}
.gallery-tab {
  display: none;
}

.gallery-tab.active {
  display: block;
}

.gallery-nav-tab {
  display: inline-block;
  padding: 10px;
  color: #264653;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-left: 20px;
  margin-right: 20px;
}

.gallery-nav-tab.active {
  border-bottom: 5px solid #b9314f;
}

@media screen and (min-width: 1920px) {
  .mw-content,
  .contact-inner {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 1200px) {
  .contact-links {
    flex-flow: column !important;
    align-items: center;
  }
  .contact .contact-links a {
    min-width: 150%;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    max-height: none;
    height: 100vh;
    .herocontent {
      flex-flow: column;
      justify-content: flex-end;
      align-items: flex-end !important;
      height: 100vh;
      .hc-left {
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        margin-bottom: 30px;
        .herobtns {
          flex-flow: column;
          .herobtn {
            margin-bottom: 10px;
          }
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
  .pondflex {
    flex-flow: column-reverse;
    img {
      width: 100% !important;
      max-width: unset;
      margin-left: -6.5vw;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .details-stats {
    padding-left: 30px !important;
    padding-right: 30px !important;
    .stats-flex {
      ul {
        li {
          min-width: 40%;
        }
      }
    }
  }
  .contact-flex {
    flex-flow: column !important;
    .contact-text {
      min-width: 100%;
      margin-bottom: 20px;
      text-align: center;
    }
    .contact-links {
      min-width: 100%;
    }
  }
  .gallery {
    .gallery-flex {
      img {
        min-width: 45%;
      }
    }
  }
}

.mobilehero {
  display: flex;
  flex-flow: column;
  padding-top: 160px;
  display: none;
  img {
    margin-top: 100px;
    max-width: 100% !important;
    object-fit: cover !important;
  }
  h1 {
    font-size: clamp(30px, 3vw, 60px);
    margin-bottom: 10px;
  }
  p {
    font-size: 28px;
  }
  .herobtns {
    display: flex;
    column-gap: 20px;
    .herobtn {
      margin-top: 35px;
      a {
        background-color: #264653;
        color: #fff;
        padding: 15px 30px;
        border: 1px solid transparent;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: #0f2d39;
        }
      }
    }
    .herobtn2 {
      a {
        background-color: #b9314f;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: #920b28;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .gallery {
    .gallery-flex {
      img {
        min-width: 100%;
      }
    }
  }
  .nav-flex a,
  .footer-flex a {
    font-size: 16px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .pond-text p {
    font-size: 28px;
  }
  .hero {
    display: none;
  }
  .mobilehero {
    display: flex;
  }
  .mobile-img-hide {
    display: none;
  }
  .gallery-nav {
    flex-flow: column;
    a {
      text-align: center;
      font-size: 26px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      margin-bottom: 20px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        height: 0.1px;
        background-color: #d1d1d1;
        bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .details-stats {
    padding-left: 30px !important;
    padding-right: 30px !important;
    .stats-flex {
      ul {
        li {
          min-width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 420px) {

}

@media screen and (max-width: 360px) {
  .nav-flex a, .footer-flex a { font-size: 14px !important; margin: 0 10px !important;}
}
