* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: "Raleway", sans-serif !important;
}

p,
span,
li {
  line-height: 1.4;
  font-family: "Raleway", sans-serif !important;
}

h2 {
  font-size: 48px;
}

.text-blue {
  color: #457b9d !important;
  font-weight: 800;
}

.mw-content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4vw;
  padding-right: 4vw;
}

.farm-advertisement {
  height: 100vh;
  margin-top: 200px;
  display: none;
}

.farm-advertisement .farm-advertisement-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.farm-advertisement .farm-advertisement-flex img {
  width: 50%;
  -webkit-box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.farm-advertisement .farm-advertisement-flex .farm-advertisement-text {
  width: 50%;
}

.farm-advertisement .farm-advertisement-flex .farm-advertisement-text h1 {
  font-size: clamp(36px, 4vw, 60px);
  color: #0f2d39;
}

.farm-advertisement .farm-advertisement-flex .farm-advertisement-text p {
  font-size: clamp(28px, 3.2vw, 36px);
}

.hero {
  width: 100%;
  height: 600px;
  max-height: 600px;
  background: url(img/heroimg-min.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-top: 80px;
}

.hero .herocontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  padding-top: 110px;
  position: relative;
  z-index: 3;
}

.hero .herocontent .hc-left {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.618);
  padding: 40px 40px 60px 40px;
  border-radius: 24px;
}

.hero .herocontent .hc-left h1 {
  font-size: clamp(30px, 3vw, 60px);
  margin-bottom: 10px;
}

.hero .herocontent .hc-left p {
  font-size: 28px;
}

.hero .herocontent .hc-left .herobtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.hero .herocontent .hc-left .herobtns .herobtn {
  margin-top: 35px;
}

.hero .herocontent .hc-left .herobtns .herobtn a {
  background-color: #264653;
  color: #fff;
  padding: 15px 30px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero .herocontent .hc-left .herobtns .herobtn a:hover {
  background-color: #0f2d39;
}

.hero .herocontent .hc-left .herobtns .herobtn2 a {
  background-color: #b9314f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero .herocontent .hc-left .herobtns .herobtn2 a:hover {
  background-color: #920b28;
}

.hero .herogradient {
  position: absolute;
  width: 100%;
  top: 0;
  height: 600px;
  z-index: 2;
}

.lr-content {
  display: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 90px;
          column-gap: 90px;
  padding-top: 90px;
  padding-bottom: 90px;
}

.lr-content .lr-textleft {
  width: 50%;
}

.lr-content .lr-textleft p {
  font-size: 30px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 100px;
}

.lr-content .lr-gallery {
  width: 50%;
  max-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lr-content .lr-gallery img {
  width: 17vw;
  max-width: 250px !important;
  margin: 5px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.details {
  background-color: #f5f5f5;
  padding-top: 90px;
  padding-bottom: 90px;
}

.details h2 {
  text-align: center;
  margin-bottom: 30px;
}

.details h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 0;
  margin-right: auto;
  font-size: 36px;
  color: #fff;
  margin-bottom: 30px;
  background-color: #b9314f;
  padding: 10px;
  border-radius: 5px;
}

.details .details-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1300px;
  margin-left: auto !important;
  margin-right: auto !important;
  /*
    div {
      width: 50%;
    }
    */
}

.details .details-flex .details-text p {
  font-size: 24px;
  text-align: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.details .details-flex .details-stats {
  /*
      background-color: #264653;
      */
  -webkit-box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 60px;
  margin-top: 30px;
  background-color: #fff;
  /*
      ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: column;
          background-color: #fff;
          font-size: 20px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          flex: 1 30%;
          list-style-type: none;
          min-height: 100px;
          margin: 5px;
          padding: 20px;
          
          */
}

.details .details-flex .details-stats hr {
  margin: 40px;
}

.details .details-flex .details-stats .stats-flex {
  width: 100%;
}

.details .details-flex .details-stats .stats-flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.details .details-flex .details-stats .stats-flex ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 25%;
          flex: 1 25%;
  max-width: 25%;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  list-style-type: decimal;
  position: relative;
}

.details .details-flex .details-stats .stats-flex ul li::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  width: 1.5px;
  height: 100%;
  background-color: #b9314f;
}

.details .details-flex .details-stats .stats-flex ul li .prefix {
  color: #264653;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 5px;
}

.details .details-flex .details-stats .svg-container {
  background-color: #264653;
  width: 65px;
  margin-bottom: 10px;
  margin-right: 0 !important;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.details .details-flex .details-stats img {
  width: 38px;
  height: 38px;
  margin-bottom: 2px;
}

.pond {
  margin-top: 90px;
}

.pond .pondflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 90px;
          column-gap: 90px;
}

.pond .pondflex img {
  width: 50%;
}

.pond .pondflex .pond-text {
  font-size: 36px;
  font-weight: 300;
  width: auto;
}

.pond .pondflex .pond-text h2 {
  text-align-last: left;
}

.contact {
  width: 100%;
  padding-bottom: 90px;
  background-color: #f5f5f5;
}

.contact .contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  padding-top: 90px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.contact h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.contact p {
  font-size: 24px;
  margin-bottom: 15px;
}

.contact .contact-links {
  padding: 30px;
  -webkit-box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
}

.contact .contact-links .iconflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-links .iconflex i {
  font-size: 20px;
  margin-bottom: 10px;
  color: #f5f5f5;
  background-color: #b9314f;
  width: 75px;
  min-width: 75px;
  height: 75px;
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.contact .contact-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-decoration: none;
  color: #264653;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 20px;
}

.contact .contact-links a:hover {
  -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact .contact-links a span {
  border-bottom: 1px dashed #264653;
}

.contact div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

nav {
  width: 100%;
  background-color: #fff;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 9999;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

nav .nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

nav .nav-flex a {
  margin-left: 20px;
  margin-right: 20px;
  color: #264653;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav .nav-flex a:hover {
  color: #b9314f;
}

footer {
  width: 100%;
  padding: 30px 0;
}

footer .footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-flex a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #264653;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .footer-flex a:hover {
  color: #b9314f;
}

@-webkit-keyframes showImg {
  from {
    opacity: 0;
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes showImg {
  from {
    opacity: 0;
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

.gallery {
  padding-top: 90px;
  padding-bottom: 90px;
}

.gallery .gallery-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
  padding: 20px;
  max-width: 94%;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.gallery .gallery-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: showImg 1s ease-in-out both;
          animation: showImg 1s ease-in-out both;
}

.gallery .gallery-flex img {
  -webkit-box-flex: 1;
      -ms-flex: 1 30%;
          flex: 1 30%;
  max-width: 30%;
  margin: 10px;
  -webkit-animation: showImg 1s ease-in-out both;
          animation: showImg 1s ease-in-out both;
  -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

#house,
#views,
#wildlife {
  scroll-margin-top: 240px;
}

.gallery-tab {
  display: none;
}

.gallery-tab.active {
  display: block;
}

.gallery-nav-tab {
  display: inline-block;
  padding: 10px;
  color: #264653;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 20px;
  margin-right: 20px;
}

.gallery-nav-tab.active {
  color: #fff;
  background-color: #b9314f;
}

@media screen and (min-width: 1920px) {
  .mw-content,
  .contact-inner {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 1200px) {
  .contact-links {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column !important;
            flex-flow: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .contact-links a {
    min-width: 150%;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    max-height: none;
    height: 100vh;
  }
  .hero .herocontent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
    height: 100vh;
  }
  .hero .herocontent .hc-left {
    width: 100%;
    background-color: white;
    margin-bottom: 30px;
  }
  .hero .herocontent .hc-left .herobtns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .hero .herocontent .hc-left .herobtns .herobtn {
    margin-bottom: 10px;
  }
  .hero .herocontent .hc-left p {
    font-size: 20px;
  }
  .pondflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .pondflex img {
    width: 100% !important;
    max-width: unset;
    margin-left: -6.5vw;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .details-stats {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .details-stats .stats-flex ul li {
    min-width: 40%;
  }
  .contact-flex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column !important;
            flex-flow: column !important;
  }
  .contact-flex .contact-text {
    min-width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .contact-flex .contact-links {
    min-width: 100%;
  }
  .gallery .gallery-flex img {
    min-width: 45%;
  }
}

.mobilehero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-top: 160px;
  display: none;
}

.mobilehero img {
  margin-top: 100px;
  max-width: 100% !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.mobilehero h1 {
  font-size: clamp(30px, 3vw, 60px);
  margin-bottom: 10px;
}

.mobilehero p {
  font-size: 28px;
}

.mobilehero .herobtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.mobilehero .herobtns .herobtn {
  margin-top: 35px;
}

.mobilehero .herobtns .herobtn a {
  background-color: #264653;
  color: #fff;
  padding: 15px 30px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mobilehero .herobtns .herobtn a:hover {
  background-color: #0f2d39;
}

.mobilehero .herobtns .herobtn2 a {
  background-color: #b9314f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mobilehero .herobtns .herobtn2 a:hover {
  background-color: #920b28;
}

@media screen and (max-width: 576px) {
  .gallery .gallery-flex img {
    min-width: 100%;
  }
  .nav-flex a,
  .footer-flex a {
    font-size: 16px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .pond-text p {
    font-size: 28px;
  }
  .hero {
    display: none;
  }
  .mobilehero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-img-hide {
    display: none;
  }
  .gallery-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .gallery-nav a {
    text-align: center;
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  }
  .gallery-nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 0.1px;
    background-color: #d1d1d1;
    bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  .details-stats {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .details-stats .stats-flex ul li {
    min-width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .nav-flex a, .footer-flex a {
    font-size: 14px !important;
    margin: 0 10px !important;
  }
}
/*# sourceMappingURL=style.css.map */